<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewContext.View.RazorView.PageTitle</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Materialize/1.0.0/css/materialize.min.css"
          rel="stylesheet" />
</head>
<body>
    <nav class="blue darken-1">
        <div class="container hide-on-med-and-down">
            <a class="brand-logo white-text">Activity Manager</a>
        </div>
    </nav>

    <div class="container">

        @{
            var view = ViewContext.View.RazorView;
            if (view is PageModel page && page.Title != null)
                Html.RenderPartial("_PageTitle", page.Title);
        }

        @{
            var activePage = ViewBag.ActivePage ?? "";
            string[] pages = { "Index", "Create", "Edit", "Details", "Delete" };
            foreach (var p in pages)
            {
                if (activePage == p)
                    Html.RenderPartial("_NavLink", p);
                else
                    Html.RenderPartial("_NavLink", null, new RouteValueDictionary(new { p }));
            }
        }

        @{
            // Render the page content
            var page = ViewContext.View.RazorView;
            if (page != null) yield return Html.Raw(page.GetHtml());
        }
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
